@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* global CSS */

body {
   /* background-color: rgb(160, 32, 240); */
    background-color: black;
    color: rgb(120, 120, 120);
}

.interactable {
    background-color: #f8b1efff;
    color: black;
    padding: 2px 5px 2px 5px;
    margin: 2px 5px 2px 5px;
    border-bottom: 1px solid grey;
}

.interactable:hover {
    background-color: #f394e6ff;
    border-bottom: 1px solid black;
}

.highlight {
    color: rgb(255, 215, 0);
    font-weight: bold;
}

/* Consistent Route styling */

.RoutePage {
    min-height: 80vh;
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2;
    margin-bottom: 2;
    padding: 4px;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}