@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
    background-color: rgb(240,240,240);
}
:not(h2, h3) {
    background-color: rgb(255, 255, 255);
}

